<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/images/bicycle.jpg" style="max-height: 300px; max-width: 300px;" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Bicycle</h4>
        <p class="card-text">Pedaling through life</p>
        <a routerLink="/exercises" class="btn btn-primary">Exercises</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/images/burpees.jpg" style="max-height: 300px; max-width: 300px;" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Burpees</h4>
        <p class="card-text">Up and down like a frog</p>
        <a routerLink="/exercises" class="btn btn-primary">Exercises</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/images/crunches.jpg" style="max-height: 300px; max-width: 300px;" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Crunches</h4>
        <p class="card-text">Work those abs</p>
        <a routerLink="/exercises" class="btn btn-primary">Exercises</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/images/lunges.jpg" style="max-height: 300px; max-width: 300px;" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Lunges</h4>
        <p class="card-text">Lunge like Superman</p>
        <a routerLink="/exercises" class="btn btn-primary">Exercises</a>
      </div>
    </div>
  </div>

</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/images/plank.jpg" style="max-height: 300px; max-width: 300px;" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Plank</h4>
        <p class="card-text">I'll bring you back to home depot</p>
        <a routerLink="/exercises" class="btn btn-primary">Exercises</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/images/pushups.jpg" style="max-height: 300px; max-width: 300px;" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Pushups</h4>
        <p class="card-text">Work your chest and biceps</p>
        <a routerLink="/exercises" class="btn btn-primary">Exercises</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/images/running.jpeg" style="max-height: 300px; max-width: 300px;" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Running</h4>
        <p class="card-text">A great cardio workout</p>
        <a routerLink="/exercises" class="btn btn-primary">Exercises</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/images/squats.jpg" style="max-height: 300px; max-width: 300px;" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Squats</h4>
        <p class="card-text">Work those glutes</p>
        <a routerLink="/exercises" class="btn btn-primary">Exercises</a>
      </div>
    </div>
  </div>
</div>