<div class="container">
  <div class="jumbotron">
      <h3>Welcome to the Meme challange</h3>
      <p>Whatever</p>
  </div>

  <div class="row">
      <div class="col-md-4">
          <div class="card" >
              <img class="card-img-top" src="http://i0.kym-cdn.com/photos/images/original/000/044/210/cooldog.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Signup</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
          
      </div>
      <div class="col-md-4">
              <div class="card" >
                      <img class="card-img-top" src="http://i0.kym-cdn.com/photos/images/original/000/044/210/cooldog.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title">Rules</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                  </div>
                  
      </div>
      <div class="col-md-4">
              <div class="card" >
                      <img class="card-img-top" src="http://i0.kym-cdn.com/photos/images/original/000/044/210/cooldog.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title">View Cool Memes</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                  </div>
          
      </div>
  </div>                
</div>